script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
script(src='js/bootstrap.min.js')

script(src='js/angularjs/angular.js')
script(src='js/angular-route/angular-route.js')
script(src='scripts/Login.js')
script(src='scripts/start.js')
script(src='scripts/app.js')

html(ng-app="app")

    div(ng-view)

