//
   Created by max on 05.08.15.
div(ng-controller="cfOrgListCtrl")
   .col-lg-12.col-md-12
      .panel.panel-primary()
         .panel-heading(ng-click="cfAppListvisible=!cfAppListvisible")
            .row Available Organizations
               .col-xs-3
               .col-xs-9.text-right
                  .huge
                  div
         div
            progressbar(max=100 value=50)
               span 50

