doctype html
html(lang='en')
html(ng-app="start")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        link(href='../css/bootstrap.min.css', rel='stylesheet')
    body
    div.container-fluid
        div.row
          //  include examples

        div.row
            div.col-lg-12
                include filesystem
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')

                                    